<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IMS Login</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <!--<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="images\favicon.ico" type="image/x-icon">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="bower_components\bootstrap\css\bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="icon\themify-icons\themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="icon\icofont\css\icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="css\style.css">
</head>

<body class="fix-menu">

<div th:replace="~{user/inc/preloader :: pre-loader}"></div>

<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                <form id="loginForm"
                      class="md-float-material form-material"
                      role="form"
                      th:action="@{/login/save}"
                      th:object="${loginUser}"
                      method="post">

                    <div class="text-center">
                        <!--<img src="images\logo.png" alt="logo.png">-->

                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center font-weight-bold">IMS Login</h3>
                                </div>
                            </div>


                            <div th:if="${param.error}">
                                <div class="alert border-danger">something went wrong!!</div>
                            </div>
                            <!--<div th:if="${message != null and message != ''}">
                                <div id="message" class="alert border-danger" th:text="${message}"></div>
                            </div>-->
                            <!--<div th:if="${param.logout}">
                                <div id="message" class="alert alert-success">${message}</div>
                            </div>-->

                            <div class="form-group form-primary">
                                <input autofocus data-rule-required="true"
                                       id="username"
                                       th:field="*{username}"
                                       type="text"
                                       name="email"
                                       class="form-control"
                                       required placeholder="Your Username">
                                <!--<i class="icofont icofont-ui-user"></i>-->
                                <span class="form-bar"></span>
                            </div>

                            <div class="form-group form-primary">
                                <input type="password"
                                       id="password"
                                       th:field="*{password}"
                                       name="password"
                                       class="form-control"
                                       required placeholder="Password">
                                <span class="form-bar"></span>
                            </div>

                            <!-- <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="checkbox-fade fade-in-primary d-">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                            <span class="text-inverse">Remember me</span>
                                        </label>
                                    </div>
                                    <div class="forgot-phone text-right f-right">
                                        <a href="#" class="text-right f-w-600"> Forgot Password?</a>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button   type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                </div>
                            </div>
                           <hr>
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                                    <p class="text-inverse text-left"><a th:href="@{/register}"><b class="f-w-600">Not registered yet?</b></a></p>
                                </div>
                                <!--<div class="col-md-2">
                                    <img src="images\auth\Logo-small-bottom.png" alt="small-logo.png">
                                </div>-->
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->

<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="bower_components\jquery\js\jquery.min.js"></script>
<script type="text/javascript" src="bower_components\jquery-ui\js\jquery-ui.min.js"></script>
<script type="text/javascript" src="bower_components\popper.js\js\popper.min.js"></script>
<script type="text/javascript" src="bower_components\bootstrap\js\bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="bower_components\jquery-slimscroll\js\jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="bower_components\modernizr\js\modernizr.js"></script>
<script type="text/javascript" src="bower_components\modernizr\js\css-scrollbars.js"></script>
<!-- i18next.min.js -->
<script type="text/javascript" src="bower_components\i18next\js\i18next.min.js"></script>
<script type="text/javascript" src="bower_components\i18next-xhr-backend\js\i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="bower_components\i18next-browser-languagedetector\js\i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="bower_components\jquery-i18next\js\jquery-i18next.min.js"></script>
<script type="text/javascript" src="js\common-pages.js"></script>

<script>
    function login() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        var data = {
            username: username,
            password: password
        };

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            // Assuming your server returns the JWT token in a field called "token"
            var token = data.token;

            // Store the token securely (e.g., in local storage)
            localStorage.setItem('token', token);

            // Redirect to another page or perform any other actions as needed
            // For example:
            window.location.href = '/'; // Redirect to dashboard after successful login
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
</body>

</html>
